# Introduction to pandas

In [2]:
import warnings 

import pandas as pd 
import numpy as np

In [3]:
x= 5

if x!=0:
    print(x**2)

25

# Revision of Data types

In [8]:
# Basics of python
my_string = 'Hello World'
print(type(my_string))

myInt = 30
print(type(myInt))

float = 3.99
print(type(float))

myBool = True
print(type(myBool))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [10]:
# Multiple assignments
myStr,myInt,myfloat = 'Billionaire',20,1200000000.45

print(f""" 1. Please welcome Mr {myStr} the data type is {type(myStr)}/n/
        2. Tough times were lasting in his early {myInt}'s the data type is{type(myInt)} 
        3. But his bank balance today is {myfloat} because he kept believing that God was going to make a way for him
        4. The last data type is {type(myfloat)}""")

 1. Please welcome Mr Billionaire the data type is <class 'str'>/n/
        2. Tough times were lasting in his early 20's the data type is<class 'int'>
        3. But his bank balance today is 1200000000.45 because he kept believing that God was going to make a way for him
        4. The last data type is <class 'float'>

# Revision of Lists and dictionaries

A collection of items

In [12]:
# Basic creation of a list
list = ['Green', 'Red', 'White', 'Black']

print(list)

print(type(list))

['Green', 'Red', 'White', 'Black']
<class 'list'>

In [14]:
# Basic creation of a Dictionary

dict = {'name':'Dee-light', 'Age':20,'Occupation':'Data Analyst','Salary': 'R60 000' }

print(dict)

print(type(dict))

{'name': 'Dee-light', 'Age': 20, 'Occupation': 'Data Analyst', 'Salary': 'R60 000'}
<class 'dict'>

# JSON formatting
Deserialize a JSON string and data from a file Use json.loads() when working with JSON strings, and json.load() when reading JSON data from files or streams.

Serialize a Python object to a JSON string and data in a file Use json.dumps() when converting python object to JSON object, and json.dump() when writing to a JSON data in a file.

ime.

In [15]:
import json

In [18]:
data = {
    'Name': 'Delight Chipiro',
    'Age': 21,
    'Occupation': 'Data Analyst',
    'Address': 'Nelspruit',
    'Cars':['BMW M1140i', 'Toyota Hilux']
}

#Generating JSON data
json_data = json.dumps(data, indent = 4)
print(json_data)

{
    "Name": "Delight Chipiro",
    "Age": 21,
    "Occupation": "Data Analyst",
    "Address": "Nelspruit",
    "Cars": [
        "BMW M1140i",
        "Toyota Hilux"
    ]
}

In [19]:
#Accessing the values in the dictionary
data['Cars']

['BMW M1140i', 'Toyota Hilux']

In [21]:
data['Name']

'Delight Chipiro'

In [45]:
# Loading JSON data from a file
with open(r"C:\Users\delig\Documents\Python Scripts\machine-learning-labs\lab-101-introduction\data\poland-bankruptcy-data-2009.json",'rt') as file:
    data = json.load(file)
    df = pd.DataFrame().from_dict(data["data"]).set_index('company_id')

print(type(data))
df.head()

<class 'dict'>

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_56,feat_57,feat_58,feat_59,feat_60,feat_61,feat_62,feat_63,feat_64,bankrupt
company_id,,,,,,,,,,,,,,,,,,,,,
1,0.174190,0.41299,0.14371,1.3480,-28.9820,0.60383,0.219460,1.12250,1.1961,0.46359,...,0.163960,0.375740,0.83604,0.000007,9.7145,6.2813,84.291,4.3303,4.0341,False
2,0.146240,0.46038,0.28230,1.6294,2.5952,0.00000,0.171850,1.17210,1.6018,0.53962,...,0.027516,0.271000,0.90108,0.000000,5.9882,4.1103,102.190,3.5716,5.9500,False
3,0.000595,0.22612,0.48839,3.1599,84.8740,0.19114,0.004572,2.98810,1.0077,0.67566,...,0.007639,0.000881,0.99236,0.000000,6.7742,3.7922,64.846,5.6287,4.4581,False
5,0.188290,0.41504,0.34231,1.9279,-58.2740,0.00000,0.233580,1.40940,1.3393,0.58496,...,0.176480,0.321880,0.82635,0.073039,2.5912,7.0756,100.540,3.6303,4.6375,False
6,0.182060,0.55615,0.32191,1.6045,16.3140,0.00000,0.182060,0.79808,1.8126,0.44385,...,0.555770,0.410190,0.46957,0.029421,8.4553,3.3488,107.240,3.4036,12.4540,False

In [46]:
# Schema
data.keys()

dict_keys(['schema', 'data', 'metadata'])

In [47]:
# JSON file metadata

data['metadata']

{'title': 'Ensemble Boosted Trees with Synthetic Features Generation in Application to Bankruptcy Prediction',
 'authors': 'Zieba, M., Tomczak, S. K., & Tomczak, J. M.',
 'journal': 'Expert Systems with Applications',
 'publicationYear': 2016,
 'dataYear': 2009,
 'articleLink': 'doi:10.1016/j.eswa.2016.04.001',
 'datasetLink': 'https://archive.ics.uci.edu/ml/datasets/Polish+companies+bankruptcy+data'}

In [52]:
#JSON file data
data['data'][0]

{'company_id': 1,
 'feat_1': 0.17419,
 'feat_2': 0.41299,
 'feat_3': 0.14371,
 'feat_4': 1.348,
 'feat_5': -28.982,
 'feat_6': 0.60383,
 'feat_7': 0.21946,
 'feat_8': 1.1225,
 'feat_9': 1.1961,
 'feat_10': 0.46359,
 'feat_11': 0.21946,
 'feat_12': 0.53139,
 'feat_13': 0.14233,
 'feat_14': 0.21946,
 'feat_15': 592.24,
 'feat_16': 0.6163,
 'feat_17': 2.4213,
 'feat_18': 0.21946,
 'feat_19': 0.12272,
 'feat_20': 37.573,
 'feat_21': 0.9969,
 'feat_22': 0.2951,
 'feat_23': 0.097402,
 'feat_24': 0.75641,
 'feat_25': 0.46359,
 'feat_26': 0.50669,
 'feat_27': 1.9737,
 'feat_28': 0.32417,
 'feat_29': 5.9473,
 'feat_30': 0.22493,
 'feat_31': 0.12272,
 'feat_32': 100.82,
 'feat_33': 3.6203,
 'feat_34': 0.71453,
 'feat_35': 0.2951,
 'feat_36': 1.8079,
 'feat_37': 123140.0,
 'feat_38': 0.46359,
 'feat_39': 0.16501,
 'feat_40': 0.21282,
 'feat_41': 0.041124,
 'feat_42': 0.16501,
 'feat_43': 95.682,
 'feat_44': 58.109,
 'feat_45': 0.94621,
 'feat_46': 0.90221,
 'feat_47': 44.941,
 'feat_48': 0.26003,
 'feat_49': 0.1454,
 'feat_50': 1.348,
 'feat_51': 0.41299,
 'feat_52': 0.27622,
 'feat_53': 1.0457,
 'feat_54': 1.0458,
 'feat_55': 127280.0,
 'feat_56': 0.16396,
 'feat_57': 0.37574,
 'feat_58': 0.83604,
 'feat_59': 6.5269e-06,
 'feat_60': 9.7145,
 'feat_61': 6.2813,
 'feat_62': 84.291,
 'feat_63': 4.3303,
 'feat_64': 4.0341,
 'bankrupt': False}

In [53]:
print(list)

['Green', 'Red', 'White', 'Black']

In [55]:
print('They call me: Joe', list[3])

They call me: Joe Black

In [57]:
list[0] = 'Navy blue'

In [58]:
print(list)

['Navy blue', 'Red', 'White', 'Black']

# Practice Questions

In [62]:
#1. Given a list of numbers, find the sum and average.

mylist = [4,5,9,10]

sumData = sum(mylist)

avg = sumData/ len(mylist)

print('The sum of the dataset is:', sumData )
print('The average of the data set is:', avg)

The sum of the dataset is: 28
The average of the data set is: 7.0

In [63]:
# Variables for storing a person's name,age, and average

name,age,avgScore = 'Delight',20,77.6

print(name)
print(age)
print(avgScore)

Delight
20
77.6

In [72]:
#Accessing the list using index
fruits = ['Fruits','Orange','Apple','Donuts']

fruits[0] = 'Guava'
fruits[3] = 'Kiwi' 



print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])

Guava
Orange
Apple
Kiwi

In [76]:
# Dictionary

dict_p = {'Full Name': 'Delight Chipiro',
       'Age': 21,
       'Address': {'City':'Nelspruit',
                  'Suburb':'Bushbuckridge',
                  'Postal Code':1365}
       }
print(type(dict_p))

print(dict_p)

<class 'dict'>
{'Full Name': 'Delight Chipiro', 'Age': 21, 'Address': {'City': 'Nelspruit', 'Suburb': 'Bushbuckridge', 'Postal Code': 1365}}

# 4.3 Control Structures

In [77]:
# Example: Checking if a number is even
test = 25

if test %2 == 0:
    print(f'{test} is a even number')
else:
    print(f'{test} is not an even number')

25 is not an even number

In [78]:
for buy in range(1,6):
    print(buy)

1
2
3
4
5

In [84]:
counter = 0

while counter <= 10:
    print(counter)
    counter +=1

0
1
2
3
4
5
6
7
8
9
10

# Functions

In [3]:
def greet(name):
    print(f'Greetings to you!: {name}')


greet('Mr Billionaire')

Greetings to you!: Mr Billionaire

In [5]:
#Practice questions

naam = ['Denice', 'Delight','Amu','Naledi', 'Brenan']

def check(naam):
    return any('a' in naam for name in naam)

naam = ['Denice', 'Delight','Amu','Naledi', 'Brenan']
result = check(naam)
print(result)

False

# Object-oriented programming

In [6]:
class person:

    #creating a constructor
    def iniate(self, name, age):
        self.name = name
        self.age = age


    def greeter(self):
        print(f'Hello, I go by the name of {self.name} and I realized this when I was only {self.age}')

In [13]:
#Creating an instance
persona = person()

persona.name = "El Magnifico"

persona.age = 20

In [14]:
print(persona.name)

El Magnifico

In [15]:
#Calling the methods in the class
persona.greeter()

Hello, I go by the name of El Magnifico and I realized this when I was only 20

# Data Manipulation

### Introduction to numpy

In [16]:
import numpy as np

In [17]:
cur_list = [1,2,3,4,5]

array = np.array(cur_list)

array

array([1, 2, 3, 4, 5])

###### Basic Array operations

In [19]:
#Element wise addition
# Adds 10 to each element
result = array + 10

print("This is your array after adding your number", result)

This is your array after adding your number [11 12 13 14 15]

#### Element-wise addition

In [20]:
multiplier = array * 2 

print("This is what happens when you actually sit down and code ", multiplier)

This is what happens when you actually sit down and code  [ 2  4  6  8 10]

#### Finding the mean and sum of the array
We calculate the mean and sum of the array elements

In [ ]:
mean_val =